<!DOCTYPE html>
<html>
	<head>
		<title>Katie Corcoran - About</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css">
		<link href="css/main.css" type="text/css" rel="stylesheet"/>
		<link href='https://fonts.googleapis.com/css?family=Arapey:400,400italic' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<!-- Header -->
		<div class="header">
			<h1>Katie Corcoran</h1>
			<ul class="nav">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html" class="selected">About</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>

		<!-- About Me -->
		<div class="about">
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
			<img src="images/linkedin-picture.jpg" class="center-block" alt="katie Corcoran LinkedIn picture">
			<h2>What you need to know about me:</h2>
			<div class="align-list">
			<ol>
				<li>I am an aspiring Front-End Developer</li>
				<li>I am a certified Salesforce.com Administrator</li>
				<li>I live in Metro Detroit</li>
				<li>I will be studying at Grand Circus - Detroit</li>
				<li>I am an excellent problem solver</li>
				<li>I am very organized</li>
			</ol>
		</div>
		</div>
		<div class="col-md-4">
				</div>
			</div>
		</div>
		

		<!-- Footer -->
		<div class="footer">
			<blockquote cite="https://www.goodreads.com/quotes">
				<p><i>Be yourself; everyone else is already taken.</i> &ndash; Oscar Wilde</p>
			</blockquote>
		</div>

	</body>
</html>
