<!-- Contact Form -->
<main class="contact-me">
	<div class="row">
		<div class="col-md-12">
			<form action="#" method="#">
				<fieldset>
					<legend>Contact Me!</legend>
					<label class="left">
					Name:
					<br />
					<input type="text" name="name" placeholder="First &amp Last Name"size="40">
					</label>
					<br />
					<label class="left">
					Phone Number:
					<br />
					<input type="tel" pattern="[\(]\d{3}[\)]\d{3}[\-]\d{4}" name="telephone" placeholder="(555)555-5555" size="40">
					</label>
					<br />
					<label class="left">
					Email:
					<br />
					<input type="email" name="email" placeholder="email@whatever.com" size="40">
					</label>
					<br />
					<p>What is your preferred method of communication?
					<br />
					<label>
						<input type="radio" name="preferred-method" value="email" checked="checked">
						Email
					</label>
					<label>
						<input type="radio" name="preferred-method" value="phone">
						Phone
					</label>
					</p>
					<p>
					<label for="add-info" class="add-info">
						Additional information:
					</label>
					<br />
					<textarea rows="3" cols="40" id="add-info">
					</textarea>
					</p>
					<input id="input-button" type="submit" value="Contact Me!">
				</fieldset>
			</form>
		</div>
	</div>
</main>
